body{
    background-color: #0A65C0;
}

.jumbotron
{
    background-color: #0A65C0;
    color: white;
}

.card
{
    background-color: #1388fc;
    border-radius: 10px;
    color:#ffff

}

.btn-infor
{
    color: #ffffff;
    background-color: #343A40 ;
}

.btn-reset
{
    color: white;
    background-color: #1388fc ;
}

.card-expen
{
    background-color: #343A40 ;
}
