{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %} Create Item {% endblock %}
{% block content %}
<div class="jumbotron jumbotron-fluid">
  <h1 class="display-4 d-flex justify-content-center">Create Item</h1>
</div>
<div class="container">
  <hr />
  <div class="row d-flex justify-content-center">
    <div
      class="col-6 m-3 card shadow-lg p-3 mb-5 bg-white rounded border border-primary"
    >
      <form action="" method="POST">
        {% csrf_token %} {{form|crispy}}
        <button class="btn mt-3 btn-primary" type="submit">Submit</button>
        <a href="/blog/{{blog_id}}"
          ><button class="btn mt-3 btn-primary" type="button">
            Go Back
          </button></a
        >
      </form>
    </div>
  </div>
</div>
{% endblock %}
