{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %} Create Item {% endblock %}

{% block nav%}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Budgetter</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/create">Create <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/history">History</a>
      </li>
     
    </ul>
  </div>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {{user.username}}
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="/account/logout/">Logout</a>
      <!-- <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a> -->
    </div>
  </div>
</nav>
{% endblock %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
  <h1 class="display-4 d-flex justify-content-center">Create Item</h1>
</div>
<div class="container">

  <div class="row d-flex justify-content-center">
    <div
      class="col-6 m-3 card shadow-lg p-4 text-white"
    >
      <form action="" method="POST">
        {% csrf_token %} {{form|crispy}}
        <small id="emailHelp" class="form-text">Kindly add either + or - symbol before the amount.</small>
        <button class="btn mt-3 btn-primary" type="submit">Submit</button>
        <a href="/blog/{{blog_id}}"
          ><button class="btn mt-3 btn-primary" type="button">
            Go Back
          </button></a
        >
      </form>
    </div>
  </div>
</div>
{% endblock %}
