{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %} History {% endblock %}
{% block content %}


<div class="jumbotron jumbotron-fluid">
  <h1 class="display-4 d-flex justify-content-center">Previous Transactions</h1>
</div>
<div class="container ">
  <hr />
    {%for budget in Budgets%}
    {%if budget.amount > 0%}
    <div class="d-flex justify-content-center m-1 text-light">
    <div class="card bg-success" style="width: 22rem;">
      <div class="card-body ">
        <h5 class="card-title d-flex justify-content-center ">{{budget.name}}</h5>
        <h6 class="card-subtitle mb-2 text-light d-flex justify-content-center ">₹{{budget.amount}}</h6>
        <p class="card-text d-flex justify-content-center ">{{budget.date}}</p>
      </div>
    </div>
  </div>
  {% else %}
  <div class="d-flex justify-content-center m-1 text-light">
    <div class="card " style="width: 22rem;">
      <div class="card-body ">
        <h5 class="card-title d-flex justify-content-center ">{{budget.name}}</h5>
        <h6 class="card-subtitle mb-2 d-flex justify-content-center ">₹{{budget.amount}}</h6>
        <p class="card-text d-flex justify-content-center ">{{budget.date}}</p>
      </div>
    </div>
  </div>
  {% endif %}
    {% endfor %}
  </div>
</div>

{% endblock%}
