{% extends "base.html" %} {% load crispy_forms_tags %} {% block title %} 
Home {% endblock %} {% block nav %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Budgetter</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      {% if user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="/history">History</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="create/">Create</a>
      </li>
      {% endif %}
    </ul>
  </div>
  {% if user.is_authenticated%}
  <div class="dropdown">
    <button
      class="btn btn-secondary dropdown-toggle"
      type="button"
      id="dropdownMenuButton"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      {{user.username}}
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="account/logout/">Logout</a>
      <!-- <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a> -->
    </div>
  </div>
  {% else %}
  <a href="account/signup/"
    ><button type="button" class="btn btn-secondary m-1">Sign Up</button></a
  >
  <a href="account/login/"
    ><button type="button" class="btn btn-secondary m-1">Log In</button></a
  >
  {% endif %}
</nav>

{% endblock %} {% block content %} {% if user.is_authenticated%}
<div class="jumbotron jumbotron-fluid">
  <h1 class="display-4 d-flex justify-content-center">Home Page</h1>
</div>

<div class="container d-flex justify-content-center">
  <div class="information">
    <div class="card shadow-lg m-2 text-white" style="width: 30rem">
      <div class="card-body home-card">
        <h5 class="card-title d-flex justify-content-center">
          <u> User Details</u>
        </h5>
        <h5 class="card-title d-flex justify-content-center">
          Username: {{user.username}}
        </h5>
        <h6 class="card-subtitle d-flex justify-content-center mb-2">
          Balance Amount ₹{{Total}}
        </h6>
        <h6 class="card-subtitle d-flex justify-content-center mb-2">
          Total Income: ₹{{Income}}
        </h6>
        <h6 class="card-subtitle d-flex justify-content-center mb-2">
          Total Expenditure: ₹{{Expenditure}}
        </h6>
        {% if hasmbudget %}
        <h6 class="card-subtitle d-flex justify-content-center mb-2">
          Monthly Budget: ₹{{mbudget}}
        </h6>
        {% endif %}
      </div>
    </div>

    {% if not hasmbudget %}
    <div class="card shadow-lg m-2 text-white" style="width: 30rem">
      <div id="container" style="width: 100%">
        <div class="card-body">
          <h5 class="d-flex justify-content-center">You haven't set your maximum budget</h5>
          <form method="POST">
            {% csrf_token %} {{form|crispy}}
            <button class="btn mt-3 btn-primary" type="submit">Submit</button>
          </form>
      </div>
      </div>
    </div>
    {% endif %}

    <div class="card shadow-lg m-2 card mb-5 text-white" style="width: 30rem">
      <div id="container" style="width: 100%">
        <canvas id="pie-chart"></canvas>
      </div>
      <h5 class="form-text text-white d-flex justify-content-center">Budget Graph</h5>
    </div>
    
  </div>
</div>

{% else %}
<div class="jumbotron jumbotron-fluid mt-5">
  <h1 class="display-4 d-flex justify-content-center">
    Kindly Login/Signup to use Budgetter
  </h1>
  <br />
  <div class="buttons d-flex justify-content-center">
    <a href="account/signup/"
      ><button type="button" class="btn btn-lg btn-secondary m-1">
        Sign Up
      </button></a
    >
    <a href="account/login/"
      ><button type="button" class="btn btn-lg btn-secondary m-1">
        Log In
      </button></a
    >
  </div>
</div>
{% endif %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

<script>

  var config = {
    type: 'pie',
    data: {
      datasets: [{
        data: {{ data|safe }},
        backgroundColor: [
          '#ffff', ' #656D74'],
        label: 'amount'
      }],
      labels: {{ labels|safe }}
    },
    options: {
      responsive: true
    }
  };

  window.onload = function() {
    var ctx = document.getElementById('pie-chart').getContext('2d');
    window.myPie = new Chart(ctx, config);
  };
</script>

{% endblock%}
