{% extends "base.html" %} {% load crispy_forms_tags %} 
{% block title %} Home {% endblock %} 
{% block nav %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
  </div>
</nav>
{% endblock %} {% block content %}
<div class="jumbotron jumbotron-fluid">
  <h1 class="display-4 d-flex justify-content-center">Home Page</h1>
</div>
<div class="container">
  <hr />
  <div class="row d-flex justify-content-center">
    <div
      class="col-6 m-3 card shadow-lg p-3 mb-5 bg-white rounded border border-primary"
    >
      <h4>Total Amount Left: ₹{{Total}}</h4>
      <h5>Total Income: ₹{{Income}}</h5>
      <h5>Total Expenditure: ₹{{Expenditure}}</h5>
    </div>
  </div>
  <!-- <div id="container" style="width: 75%;">
      <canvas id="pie-chart"></canvas>
    </div> -->
</div>
<!-- <script>

    var config = {
      type: 'pie',
      data: {
        datasets: [{
          data: {{ data|safe }},
          backgroundColor: [
            '#696969', '#808080', '#A9A9A9', '#C0C0C0', '#D3D3D3'
          ],
          label: 'Population'
        }],
        labels: {{ labels|safe }}
      },
      options: {
        responsive: true
      }
    };

    window.onload = function() {
      var ctx = document.getElementById('pie-chart').getContext('2d');
      window.myPie = new Chart(ctx, config);
    };

  </script> -->

{% endblock%}
