{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %} Home {% endblock %}
{% block content %}
<div class="jumbotron jumbotron-fluid">
    <h1 class="display-4 d-flex justify-content-center">Home Page</h1>
  </div>
  <div class="container">
    <hr />
    <div class="row d-flex justify-content-center">
      <div
        class="col-6 m-3 card shadow-lg p-3 mb-5 bg-white rounded border border-primary">
        <h4>Total Amount Left: ₹{{Total}}</h4>
      </div>
    </div>
  </div>
{% endblock%}
